* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #001741;
}

.nav, .feature-spam, .footer {
  margin: 1%;
}

.nav, .footer {
  background-color: #ffe53b;
  color: #001741;
  padding: 0.5em 0;
}

.nav li {
  display: inline;
  padding: 0.5em
}

.nav a {
  text-decoration: none;
}

.content {
  overflow: auto;
  position: relative;
}

.feature-spam, .section {
  height: 30em;
  margin-bottom: 1em;
  border: 0.1em solid lightgray;
}

.feature-spam {
  position: relative;
  background: url(../img/main-spam.png) center no-repeat;
}

.feature-spam img {
  position: absolute;
  top: 10%;
  left: 1%;
  transform: rotate(-20deg);
}

.gallery-column, .recipe-column, .nutrition-column {
  width: 31.3%;
  float: left;
  margin: 1%;
  overflow: scroll;
}

.section h3 {
  font-size: 1.2em;
}

.nutrition-column {
  margin-right: 0%;
}

.recipe-column h4, ul, ol {
  text-align: left;
  margin-left: 3%;
  color: #001741;
}
